tools-4.3.7/
tools-4.4.7/
tools-5.0.6/
tools-5.2.1/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.DS_Store
*.tar.gz
*.zip
tmp/
x86_64-darwin/
aarch64-darwin/
x86_64-linux/
i686-linux/
venv-idf/
venv-rtos/
venv/
ESP8266_RTOS_SDK
esp-idf
